<MarketplaceDetails>
  <SmallAppTile>RunningErrands-SmallApplicationTile.png</SmallAppTile>
  <LargeAppTile>RunningErrands-LargeApplicationTile.png</LargeAppTile>
  <PCAppTile>RunningErrands-MarketplaceTile.png</PCAppTile>
  <ScreenShots>Screenshot1.png;Screenshot2.png;Screenshot3.png;;;;;;</ScreenShots>
</MarketplaceDetails>